{% extends './base.html' %}
{% load static %}

{% block explaining %}
<br>
<h3>PageRank</h3>

<p>Esta métrica combina el número de aristas que recibe, la tendencia a tener aristas de los nodos que la componen, es decir, las aristas de los nodos
    con pocas aristas son mejores que las que tienen muchas aristas y por último la centralidad de los nodos.

    Podemos observar tanto en esta vista como en la metrica eigenvector centrality que tenemos artistas como 50 Cent que son importantes en ambos análisis
    por tanto estos artistas que se repiten en ambos casos serían los artistas a tener en cuenta como relevantes en la red.
</p>

{% endblock %}

{% block graph_scripts %}

<script src="{% static './js/pagerank_metric.js' %}" type='text/javascript'></script>

{% endblock %}