svg { 
    position:fixed; 
}

.links line {
    stroke: rgba(26, 33, 37, 0.459);
    stroke-opacity: 0.3;
    stroke-width: 1;
}

.nodes circle {
    stroke: rgba(9, 12, 11, 0.397);
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 20px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
